*{
  margin: 0%;
  padding: 0%;
  
}

/* Profile*/

.name{

  margin: 20px;
}

.bio{

  display: flex;
  background-image: url(web.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  background-size: cover;
  
}


.profText{
  
  font-size: 30px;
  
}

.profText h2{

  height: 40px;
  margin: 250px 80px 20px 300px ;


}


.profText span{

  font-size: 20px;
  height: 40px;
  padding: 150px 80px 20px 340px ;
  

}

.profileImg{
  
  text-align: right;  
  
}


.profile{

  height: 500px;
  width: auto;
  border: solid 3px black;
  margin: 30px 20px 30px 200px ;
  border-radius: 10px;
  transition: 1s;
  
}

.profile:hover{

  height: 530px;
  width: auto;
  border: solid 3px black;
  margin: 20px 20px 20px 200px ;
  border-radius: 10px;
  
}

hr{
  height:  1px;
  background-color: black;
}


/* Acaadmics*/


.acadamic{

  border: solid 1px black;
  margin: 20px 20px 20px 40px;
  position: relative;
  
}

.legend{

  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  text-decoration: underline  ;
}

.parent1{
  
  height: 340px;
  width: 1260px;
  margin: 40px 50px 10px 50px;
  border: solid 3px black;
  display: flex;

  
}

.img{

  height: 300px;
  width: 500px;
  padding: 10px 10px 10px 10px ;
  
}

#clgImg{

  height: 320px;
  width: 500px;

  
}


.clgText{


  height: 300px;
  width: 650px;
  border-left: solid 3px black;
  padding: 20px 20px 20px 70px ;
  font-size: 20px;
  background-color: aliceblue;
  
}

.clgText ul{

  list-style-type: none;
  
}

.degree{
  
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}

.clg,.dep,.batch,.percentage{

  font-size: 20px;
  padding: 20px 20px 20px 90px ;
}



.parent2{
  
  height: 340px;
  width: 1260px;
  margin: 40px 50px 10px 50px;
  border: solid 3px black;
  display: flex;
  
}

.img2{

  height: 300px;
  width: 500px;
  padding: 10px 10px 10px 10px ;
  
}

#sch1Img{

  height: 320px;
  width: 500px;

  
}


.hscText{


  height: 300px;
  width: 650px;
  border-left: solid 3px black;
  padding: 20px 20px 20px 70px ;
  font-size: 20px;
  background-color: aliceblue;
  
}

.hscText ul{

  list-style-type: none;
  
}

.hsc{
  
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}

.sch1,.sch1dep,.sch1batch,.sch1percentage{

  font-size: 20px;
  padding: 20px 20px 20px 90px ;
}



.parent3{
  
  height: 340px;
  width: 1260px;
  margin: 40px 50px 50px 50px;
  border: solid 3px black;
  display: flex;
  
}

.img3{

  height: 300px;
  width: 500px;
  padding: 10px 10px 10px 10px ;
  
}

#sch2Img{

  height: 320px;
  width: 500px;

  
}


.sslcText{


  height: 300px;
  width: 650px;
  border-left: solid 3px black;
  padding: 20px 20px 20px 70px ;
  font-size: 20px;
  background-color: aliceblue;
  
}

.sslcText ul{

  list-style-type: none;
  
}

.sslc{
  
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}

.sch2,.sch2dep,.sch2batch,.sch2percentage{

  font-size: 20px;
  padding: 20px 20px 20px 90px ;
}



/* IEEE Society*/



.ieee{

  border: solid 1px black;
  margin: 20px 20px 20px 40px;
  
}

.ieee h3{

  font-size: 30px;
  margin: 60px 50px 20px 50px ;
  text-decoration: underline;
}


.ieee img{

  margin: auto;
  height: auto;
  width: 900px;
  margin: 50px 50px 10px 300px ;
  transition: 1s;
}

.ieee img:hover{

  margin: auto;
  height: auto;
  width: 1000px;
  margin: 30px 50px 10px 300px ;
  border-radius: 20px;
  border: solid 5px black;
}


.ieee figcaption{

  font-size: 20px;
  margin: 0px 50px 50px 380px ;
}


/* Certificate*/



.certificateParent{

  border: solid 1px black;
  margin: 20px 20px 20px 40px;
  text-align: center;

}

.certificateParent h3{

  font-weight: bold;
  font-size: 30px;
  padding: 35px;
  text-align: left;
  text-decoration: underline;

}



.certificateParent p{

  font-size: 30px;
  text-align: center;
  margin: 20px;
  

}

.cerPar2 .cerPar2img{

  padding: 90px 10px 10px 10px;
 
}

.cerPar1 .cerPar1img{

  padding: 90px 10px 10px 10px;
 
}


.cerPar1,.cerPar2,.cerPar3,.volunteer{
  display: flex;
  margin: 30px;
  border: solid 2px black;
}


.cerPar1 img,.cerPar2 img,.cerPar3 img,.volunteer img{
  
  height: auto;
  width: 300px;
  border: solid 2px black;
  padding: 4px;
}

.volunteer .head1,.cerPar1 .head2,.cerPar3 .head4{

  font-size: 25px;
  text-align: left;
  font-weight: bold;
  padding: 10px 20px 10px 20px ;
  
}

.cerPar2 .head3{

  font-size: 25px;
  text-align: left;
  font-weight: bold;
  padding: 0px 20px 0px 0px ;

}

.cerPar1 .head2{

  font-size: 25px;
  text-align: left;
  font-weight: bold;
  padding: 0px 20px 0px 0px ;

}

.volunteer .cont1,.cerPar1 .cont2,.cerPar3 .cont4{

  font-size: 22px;
  text-align:justify;
  font-weight: 100;
  padding: 20px 20px 20px 20px ;
  line-height: 1.8;
  
}

.cerPar2 .cont3{

  font-size: 22px;
  text-align:justify;
  font-weight: 100;
  padding: 10px 20px 0px 0px ;
  line-height: 1.8;
}

.cerPar1 .cont2{

  font-size: 22px;
  text-align:justify;
  font-weight: 100;
  padding: 10px 20px 0px 0px ;
  line-height: 1.8;
}



/* MiniProject Experiment*/



.miniProject{

  border: solid 1px black;
  margin: 20px 20px 20px 40px;
}

.miniProject h1{

  text-align: center;
  margin: 8px;
  text-decoration: underline;
}

.website,.exp1,.exp2{

  display: flex;
  border: solid 1px black;
  margin: 20px;

}

.webImg img{

  height: auto;
  width: 500px;
  border: solid 2px black;
  padding: 9px;
  margin: 5px;
  transition: 0.5s;
  transition-behavior: smooth;

}

.webImg img:hover{

  height: auto;
  width: 510px;
  border: solid 4px black;
  padding: 9px;
  margin: 5px;
}


.webText p{

  font-size: 22px;
  text-align:justify;
  font-weight: 100;
  padding: 20px 20px 0px 0px;
  margin: 5px;
  line-height: 1.8;
}

.webText h3{

  font-size: 27px;
  text-align:justify;
  font-weight: 100;
  padding: 20px 20px  10px 0px ;
  margin: 5px;
}



/* MiniProject Experiment - 1*/




.exp1{

  display: flex;
  border: solid 1px black;
  margin: 20px;

}

.exp1Img img{

  height: auto;
  width: 500px;
  border: solid 2px black;
  padding: 9px;
  margin: 5px;
  transition: 0.5s;
  transition-behavior: smooth;

}

.exp1Img img:hover{

  height: auto;
  width: 510px;
  border: solid 4px black;
  padding: 9px;
  margin: 5px;
}


.exp1Text p{

  font-size: 22px;
  text-align:justify;
  font-weight: 100;
  padding: 20px 20px 0px 0px;
  margin: 5px;
  line-height: 1.8;
}

.exp1Text h3{

  font-size: 27px;
  text-align:justify;
  font-weight: 100;
  padding: 20px 20px  10px 0px ;
  margin: 5px;
}



/* MiniProject Experiment - 2*/ 


.exp2{

  display: flex;
  border: solid 1px black;
  margin: 20px;

}

.exp2Img img{

  height: auto;
  width: 500px;
  border: solid 2px black;
  padding: 9px;
  margin: 5px;
  transition: 0.5s;
  transition-behavior: smooth;

}

.exp2Img img:hover{

  height: auto;
  width: 510px;
  border: solid 4px black;
  padding: 9px;
  margin: 5px;
}


.exp2Text p{

  font-size: 22px;
  text-align:justify;
  font-weight: 100;
  padding: 20px 20px 0px 0px;
  margin: 5px;
  line-height: 1.8;
}

.exp2Text h3{

  font-size: 27px;
  text-align:justify;
  font-weight: 100;
  padding: 20px 20px  10px 0px ;
  margin: 5px;
}