.one{

  height: auto;
  width: 270px;
  padding: 20px;
}


.two{

  height: auto;
  width: 400px;
  padding: 20px;
  
  
}


.three{

  height: auto;
  width: 300PX;
  padding: 20px;
}


.four{

  height: auto;
  width: 300PX;
  padding: 20px;
}


.five{

  height: auto;
  width: 300PX;
  padding: 20px;
}


.six{

  height: 360PX;
  width: 200px;
  padding: 20px;
}


.seven{

  height: 360PX;
  width: 150PX;
  padding: 20px;

}
.eight{

  height: 360PX;
  width: auto;
  padding: 20px;

}


