*{

  padding: 0%;
  margin: 0%;
  background-color:beige;
}

h1{

  width: 250px;
  height: 50px;
  text-align: center;
  background-color: white;
  text-decoration: underline;
  margin: 50px 100px 30px 630px ;
  display: inline-block;
  border-radius: 10px;
}

table{

  border: solid 2px black;
  text-align: left;
  margin: 20px 100px 50px 400px ;
}

th{

  border: solid 2px black;
  height: 20px;
  width: 250px;
  font-size: 20px;
  padding: 9px;
  background-color: white;
  
}

td{

  border: solid 2px black;
  height: 20px;
  width: 509px;
  font-size: 20px;
  padding: 6px;
  background-color: white;
}

input,select,option{

  border: white;
  background-color: white;
  padding: 6px;
}

textarea{

  border: white;
  background-color: white;
  padding: 6px;
  height: 100px;
  width: 300px;
}

button{

  height: 30px;
  width: 100px;
  font-size: 20px;
  color: white;
  background-color: gray;
  margin: 0px 100px 30px 430px ;
  border-radius: 7px;
}

button:hover{

  height: 35px;
  width: 110px;
  font-size: 20px;
  color: white;
  background-color: red;
  margin: 0px 100px 30px 430px ;
  border-radius: 7px;
  transition: 1s;
}